.s.t0 {
    left: 11.442668136583212%;
    animation: st0 13.753723645717209s infinite linear;
    animation-delay: 1.7393218557068126s;
}

.s.t1 {
    left: 94.27315616678055%;
    animation: st1 6.016990538665503s infinite linear;
    animation-delay: 2.6861472331160936s;
}

.s.t2 {
    left: 70.61721440276743%;
    animation: st2 8.502359429135302s infinite linear;
    animation-delay: 2.9261759811067387s;
}

.s.t3 {
    left: 41.80334560191425%;
    animation: st3 6.496305116326195s infinite linear;
    animation-delay: 2.990502010769245s;
}

.s.t4 {
    left: 30.001194295497857%;
    animation: st4 7.191347535198864s infinite linear;
    animation-delay: 2.21320823957394s;
}

.s.t5 {
    left: 28.378198127188135%;
    animation: st5 10.700973745119235s infinite linear;
    animation-delay: 0.6456770649677281s;
}

.s.t6 {
    left: 34.59833853320302%;
    animation: st6 14.996160941331794s infinite linear;
    animation-delay: 2.7913399766244806s;
}

.s.t7 {
    left: 43.57584111180841%;
    animation: st7 8.094458349724732s infinite linear;
    animation-delay: 1.3889069569953314s;
}

.s.t8 {
    left: 1.875319960512578%;
    animation: st8 13.665251357534675s infinite linear;
    animation-delay: 0.7007406542364907s;
}

.s.t9 {
    left: 69.19942308332251%;
    animation: st9 10.552814029138647s infinite linear;
    animation-delay: 1.3259429831258898s;
}

.s.t10 {
    left: 1.4539240269975107%;
    animation: st10 12.579867470016046s infinite linear;
    animation-delay: 2.1126560428480285s;
}

.s.t11 {
    left: 14.46031719829799%;
    animation: st11 8.948521559765725s infinite linear;
    animation-delay: 2.841532479627806s;
}

.s.t12 {
    left: 94.67477077587019%;
    animation: st12 13.146899718189085s infinite linear;
    animation-delay: 1.2940833448458162s;
}

.s.t13 {
    left: 40.67051219747666%;
    animation: st13 7.849437363955511s infinite linear;
    animation-delay: 2.205782394160602s;
}

.s.t14 {
    left: 31.796546544918147%;
    animation: st14 5.3549896380378215s infinite linear;
    animation-delay: 2.20969351333976s;
}

.s.t15 {
    left: 48.54421363502115%;
    animation: st15 6.740561631814044s infinite linear;
    animation-delay: 1.9952258987400273s;
}

.s.t16 {
    left: 94.78123730209059%;
    animation: st16 11.438728553284722s infinite linear;
    animation-delay: 0.3112897755151336s;
}

.s.t17 {
    left: 52.99496920460185%;
    animation: st17 11.999831414007362s infinite linear;
    animation-delay: 1.177061074756258s;
}

.s.t18 {
    left: 2.21007852439703%;
    animation: st18 14.548257094400778s infinite linear;
    animation-delay: 1.7902287519716928s;
}

.s.t19 {
    left: 60.01076647294239%;
    animation: st19 8.73831793127373s infinite linear;
    animation-delay: 1.1298514546050242s;
}

.s.t20 {
    left: 0.7909207540723662%;
    animation: st20 12.221810643373466s infinite linear;
    animation-delay: 2.483890561028934s;
}

.s.t21 {
    left: 43.76698858662203%;
    animation: st21 10.349022366584142s infinite linear;
    animation-delay: 2.6858929153005553s;
}

.s.t22 {
    left: 43.32185998687188%;
    animation: st22 6.57593445643424s infinite linear;
    animation-delay: 1.4756534928350442s;
}

.s.t23 {
    left: 96.74801389205831%;
    animation: st23 8.954516572356962s infinite linear;
    animation-delay: 2.1449579525736375s;
}

.s.t24 {
    left: 78.46690541291008%;
    animation: st24 5.336441357896526s infinite linear;
    animation-delay: 2.5358419754962713s;
}

.s.t25 {
    left: 79.98836172008812%;
    animation: st25 11.528586985091993s infinite linear;
    animation-delay: 1.731630552738411s;
}

.s.t26 {
    left: 98.32684767076596%;
    animation: st26 12.719465111968958s infinite linear;
    animation-delay: 1.4626701813776615s;
}

.s.t27 {
    left: 63.681770595017404%;
    animation: st27 13.872490213040509s infinite linear;
    animation-delay: 1.9611124649985852s;
}

.s.t28 {
    left: 86.30011792236058%;
    animation: st28 9.143459879090528s infinite linear;
    animation-delay: 2.8678176136837608s;
}

.s.t29 {
    left: 52.730394543290494%;
    animation: st29 10.480103483702427s infinite linear;
    animation-delay: 1.3300729335072443s;
}

.s.t30 {
    left: 70.7608494937056%;
    animation: st30 14.207341894205586s infinite linear;
    animation-delay: 1.421918447747315s;
}

.s.t31 {
    left: 74.88296242962713%;
    animation: st31 12.608319540168313s infinite linear;
    animation-delay: 0.3854682560608689s;
}

.s.t32 {
    left: 20.75916337880983%;
    animation: st32 8.046044522099242s infinite linear;
    animation-delay: 2.3037567384764817s;
}

.s.t33 {
    left: 13.115378143234647%;
    animation: st33 9.531921823528045s infinite linear;
    animation-delay: 0.24690565540400922s;
}

.s.t34 {
    left: 47.826613275228944%;
    animation: st34 13.384844930129018s infinite linear;
    animation-delay: 1.8999839037323418s;
}

.s.t35 {
    left: 42.6909697152817%;
    animation: st35 9.573475990853307s infinite linear;
    animation-delay: 1.1818894695435815s;
}

.s.t36 {
    left: 14.442947004706564%;
    animation: st36 9.751107960536059s infinite linear;
    animation-delay: 0.8139767984480086s;
}

.s.t37 {
    left: 53.0661908466181%;
    animation: st37 8.502120501579142s infinite linear;
    animation-delay: 1.7757361968647125s;
}

.s.t38 {
    left: 22.03957989319141%;
    animation: st38 14.935720347397998s infinite linear;
    animation-delay: 1.6169233244758972s;
}

.s.t39 {
    left: 54.65705377513799%;
    animation: st39 6.560465273880283s infinite linear;
    animation-delay: 1.3256556498904224s;
}

.s.t40 {
    left: 28.946150698133%;
    animation: st40 9.965672810109297s infinite linear;
    animation-delay: 0.4648264907563806s;
}

.s.t41 {
    left: 3.9431968087856317%;
    animation: st41 7.091577165869467s infinite linear;
    animation-delay: 1.3379696501601s;
}

.s.t42 {
    left: 92.93962317969017%;
    animation: st42 8.887859565579383s infinite linear;
    animation-delay: 0.0591939867118374s;
}

.s.t43 {
    left: 23.292680430406886%;
    animation: st43 11.488408561390022s infinite linear;
    animation-delay: 1.4412291896683609s;
}

.s.t44 {
    left: 57.640723111634905%;
    animation: st44 12.759130223731002s infinite linear;
    animation-delay: 1.8786359877090504s;
}

.s.t45 {
    left: 72.70874813239439%;
    animation: st45 12.539450952018354s infinite linear;
    animation-delay: 0.5302338611215376s;
}

.s.t46 {
    left: 33.648726069413094%;
    animation: st46 10.678808588922632s infinite linear;
    animation-delay: 0.7659861530664391s;
}

.s.t47 {
    left: 22.471844112958905%;
    animation: st47 9.175988520689955s infinite linear;
    animation-delay: 0.5090369471337224s;
}

.s.t48 {
    left: 69.27801299862035%;
    animation: st48 11.416319899357056s infinite linear;
    animation-delay: 1.619618876627328s;
}

.s.t49 {
    left: 71.44631857881578%;
    animation: st49 6.437132470753715s infinite linear;
    animation-delay: 1.5083302519242967s;
}

.s.t50 {
    left: 47.733317236507624%;
    animation: st50 13.180419411150165s infinite linear;
    animation-delay: 1.0330420557807733s;
}

.m.t0 {
    left: 95.36209690501491%;
    animation: mt0 8.714597164944902s infinite linear;
    animation-delay: 2.5307205274180067s;
}

.m.t1 {
    left: 91.47149784422737%;
    animation: mt1 11.486513148132776s infinite linear;
    animation-delay: 1.5465530676668844s;
}

.m.t2 {
    left: 82.52109245948105%;
    animation: mt2 12.267961402950915s infinite linear;
    animation-delay: 2.4809556235297467s;
}

.m.t3 {
    left: 69.56088373724324%;
    animation: mt3 9.848381419293162s infinite linear;
    animation-delay: 1.2488210116739504s;
}

.m.t4 {
    left: 55.777914461968045%;
    animation: mt4 10.51785637209524s infinite linear;
    animation-delay: 1.4132775595505849s;
}

.m.t5 {
    left: 24.319026414306144%;
    animation: mt5 12.130694316359145s infinite linear;
    animation-delay: 1.0579493602982721s;
}

.m.t6 {
    left: 49.08604106849954%;
    animation: mt6 8.393695880926765s infinite linear;
    animation-delay: 1.905521585361826s;
}

.m.t7 {
    left: 89.96458138379336%;
    animation: mt7 6.99771221701493s infinite linear;
    animation-delay: 2.5494096459434505s;
}

.m.t8 {
    left: 9.246420721193548%;
    animation: mt8 12.314256974966476s infinite linear;
    animation-delay: 2.369407797206031s;
}

.m.t9 {
    left: 72.49030808983505%;
    animation: mt9 14.881689023953138s infinite linear;
    animation-delay: 1.555789860422042s;
}

.m.t10 {
    left: 96.02696364420049%;
    animation: mt10 6.144968775790214s infinite linear;
    animation-delay: 0.3525810109741707s;
}

.m.t11 {
    left: 15.359451064509821%;
    animation: mt11 10.19959537479355s infinite linear;
    animation-delay: 0.2978813878521276s;
}

.m.t12 {
    left: 42.594980517610146%;
    animation: mt12 6.448327682221738s infinite linear;
    animation-delay: 1.540850327433279s;
}

.m.t13 {
    left: 33.743828385489394%;
    animation: mt13 8.73477351074696s infinite linear;
    animation-delay: 1.8911914796910332s;
}

.m.t14 {
    left: 4.535054666106819%;
    animation: mt14 11.138030550787736s infinite linear;
    animation-delay: 0.9891345838782855s;
}

.m.t15 {
    left: 18.686805971670537%;
    animation: mt15 9.049573075501032s infinite linear;
    animation-delay: 2.9530919913817972s;
}

.m.t16 {
    left: 72.42868120058361%;
    animation: mt16 7.7926731385317005s infinite linear;
    animation-delay: 2.155280216588234s;
}

.m.t17 {
    left: 69.62101770012372%;
    animation: mt17 12.213730502333082s infinite linear;
    animation-delay: 2.951803544693166s;
}

.m.t18 {
    left: 90.10651884106144%;
    animation: mt18 6.65314938460244s infinite linear;
    animation-delay: 0.40563831253006977s;
}

.m.t19 {
    left: 93.58944778097826%;
    animation: mt19 6.441850559251881s infinite linear;
    animation-delay: 0.40662428615848545s;
}

.m.t20 {
    left: 80.46580309265514%;
    animation: mt20 7.701487142563117s infinite linear;
    animation-delay: 1.5223413834947193s;
}

.m.t21 {
    left: 41.213139018766995%;
    animation: mt21 14.62196006547752s infinite linear;
    animation-delay: 2.2293999669130558s;
}

.m.t22 {
    left: 58.07236268991562%;
    animation: mt22 12.232379408992223s infinite linear;
    animation-delay: 0.02347440209563323s;
}

.m.t23 {
    left: 56.89410169153655%;
    animation: mt23 8.918875418387703s infinite linear;
    animation-delay: 2.6701895308504384s;
}

.m.t24 {
    left: 23.52777401446906%;
    animation: mt24 10.157458018066027s infinite linear;
    animation-delay: 2.2228041965071115s;
}

.m.t25 {
    left: 34.396402614236266%;
    animation: mt25 12.609328215183684s infinite linear;
    animation-delay: 1.379011607867639s;
}

.m.t26 {
    left: 33.51582152176886%;
    animation: mt26 12.516234964322164s infinite linear;
    animation-delay: 1.488780468710385s;
}

.m.t27 {
    left: 14.695961540559587%;
    animation: mt27 8.774069817888076s infinite linear;
    animation-delay: 2.8190834674318954s;
}

.m.t28 {
    left: 90.10075883603133%;
    animation: mt28 10.912849313932018s infinite linear;
    animation-delay: 2.3193357122757234s;
}

.m.t29 {
    left: 52.416119939083686%;
    animation: mt29 6.80665663221588s infinite linear;
    animation-delay: 2.5977321124125075s;
}

.m.t30 {
    left: 14.096890016429843%;
    animation: mt30 8.21046551476206s infinite linear;
    animation-delay: 1.7728303243860115s;
}

.m.t31 {
    left: 15.59055906564437%;
    animation: mt31 9.186651536957122s infinite linear;
    animation-delay: 0.5886549339613709s;
}

.m.t32 {
    left: 37.14900045000302%;
    animation: mt32 11.27581572879975s infinite linear;
    animation-delay: 2.4127697455592028s;
}

.m.t33 {
    left: 23.675433630925923%;
    animation: mt33 7.680995119053414s infinite linear;
    animation-delay: 2.9868748879712s;
}

.m.t34 {
    left: 60.05977557578548%;
    animation: mt34 13.294383850793103s infinite linear;
    animation-delay: 2.030835744989102s;
}

.m.t35 {
    left: 57.33214523049179%;
    animation: mt35 6.418366561521127s infinite linear;
    animation-delay: 0.4677023534484206s;
}

.m.t36 {
    left: 82.42982405413485%;
    animation: mt36 10.753647571678473s infinite linear;
    animation-delay: 0.9556957731444118s;
}

.m.t37 {
    left: 21.936738255033394%;
    animation: mt37 9.784423205383998s infinite linear;
    animation-delay: 0.31227577239751936s;
}

.m.t38 {
    left: 10.764211198085171%;
    animation: mt38 6.481528453422428s infinite linear;
    animation-delay: 2.380049571604909s;
}

.m.t39 {
    left: 9.15690630295607%;
    animation: mt39 9.44144806757318s infinite linear;
    animation-delay: 1.7304485888328618s;
}

.m.t40 {
    left: 20.672688957208287%;
    animation: mt40 11.665154760242299s infinite linear;
    animation-delay: 1.036980548213347s;
}

.m.t41 {
    left: 94.10781870666717%;
    animation: mt41 7.526502498555214s infinite linear;
    animation-delay: 0.5341177999464899s;
}

.m.t42 {
    left: 41.21109269298731%;
    animation: mt42 5.46054638853091s infinite linear;
    animation-delay: 2.084872422230576s;
}

.m.t43 {
    left: 41.74403925417609%;
    animation: mt43 13.837992220453824s infinite linear;
    animation-delay: 1.484890208799803s;
}

.m.t44 {
    left: 45.0713507636423%;
    animation: mt44 11.933855695345963s infinite linear;
    animation-delay: 2.9316899377788035s;
}

.m.t45 {
    left: 57.14922965989708%;
    animation: mt45 7.534697244514028s infinite linear;
    animation-delay: 0.2559634849555257s;
}

.m.t46 {
    left: 2.576533876046394%;
    animation: mt46 6.5965953262718084s infinite linear;
    animation-delay: 0.9045322137980041s;
}

.m.t47 {
    left: 9.592312457769925%;
    animation: mt47 6.013598797493844s infinite linear;
    animation-delay: 2.310522353751096s;
}

.m.t48 {
    left: 33.5413281349832%;
    animation: mt48 12.341253958155152s infinite linear;
    animation-delay: 1.7272290549967095s;
}

.m.t49 {
    left: 84.99165703987413%;
    animation: mt49 5.470899674000325s infinite linear;
    animation-delay: 1.994131028216515s;
}

.m.t50 {
    left: 81.20071189396441%;
    animation: mt50 14.17523450725909s infinite linear;
    animation-delay: 1.6199153722640358s;
}

.l.t0 {
    left: 21.408108905497603%;
    animation: lt0 13.152995613685714s infinite linear;
    animation-delay: 1.994097339429854s;
}

.l.t1 {
    left: 52.847683328716386%;
    animation: lt1 7.013635779430826s infinite linear;
    animation-delay: 2.456185482493667s;
}

.l.t2 {
    left: 44.302947236918236%;
    animation: lt2 10.748236420725299s infinite linear;
    animation-delay: 1.2858132942893976s;
}

.l.t3 {
    left: 40.67517028856784%;
    animation: lt3 12.752998787398964s infinite linear;
    animation-delay: 0.9763076264651491s;
}

.l.t4 {
    left: 23.048897749111784%;
    animation: lt4 5.690080495044645s infinite linear;
    animation-delay: 0.18780819130988702s;
}

.l.t5 {
    left: 26.42322464615696%;
    animation: lt5 9.970636575557945s infinite linear;
    animation-delay: 2.50144061344315s;
}

.l.t6 {
    left: 61.72327046697244%;
    animation: lt6 14.371574691605488s infinite linear;
    animation-delay: 1.1515338695511967s;
}

.l.t7 {
    left: 20.380446013388685%;
    animation: lt7 7.515571220010617s infinite linear;
    animation-delay: 0.017373367946948548s;
}

.l.t8 {
    left: 96.01590283297207%;
    animation: lt8 7.735561964523221s infinite linear;
    animation-delay: 2.899152255643957s;
}

.l.t9 {
    left: 85.55486697702128%;
    animation: lt9 13.504476499933254s infinite linear;
    animation-delay: 2.3785167153947615s;
}

.l.t10 {
    left: 17.282238579273866%;
    animation: lt10 13.303160901532527s infinite linear;
    animation-delay: 0.10976348340849063s;
}

.l.t11 {
    left: 30.98738875737743%;
    animation: lt11 8.26042066083417s infinite linear;
    animation-delay: 1.6645694629088614s;
}

.l.t12 {
    left: 66.24056645367308%;
    animation: lt12 8.009511728656163s infinite linear;
    animation-delay: 0.9249414202656081s;
}

.l.t13 {
    left: 51.73528825830076%;
    animation: lt13 7.203055559531237s infinite linear;
    animation-delay: 2.566709662421249s;
}

.l.t14 {
    left: 31.95211527327315%;
    animation: lt14 9.075091940326494s infinite linear;
    animation-delay: 1.6990798693857938s;
}

.l.t15 {
    left: 47.73353946450945%;
    animation: lt15 11.361369230289407s infinite linear;
    animation-delay: 2.992975886286917s;
}

.l.t16 {
    left: 31.284714381352874%;
    animation: lt16 10.443931986469842s infinite linear;
    animation-delay: 2.571960211076511s;
}

.l.t17 {
    left: 53.959224839958495%;
    animation: lt17 13.180676103641689s infinite linear;
    animation-delay: 2.364055600428017s;
}

.l.t18 {
    left: 88.49269125456199%;
    animation: lt18 9.004607562483919s infinite linear;
    animation-delay: 2.0496776703458677s;
}

.l.t19 {
    left: 6.848476543961635%;
    animation: lt19 9.815807063847888s infinite linear;
    animation-delay: 2.3555451535001026s;
}

.l.t20 {
    left: 14.943380096592973%;
    animation: lt20 5.5470465182139606s infinite linear;
    animation-delay: 2.770671760917123s;
}

.l.t21 {
    left: 83.82330187471408%;
    animation: lt21 8.564477421904996s infinite linear;
    animation-delay: 1.1672554960953405s;
}

.l.t22 {
    left: 45.12353294395124%;
    animation: lt22 6.479170572762398s infinite linear;
    animation-delay: 1.6424084377890098s;
}

.l.t23 {
    left: 90.24367700282994%;
    animation: lt23 8.113625219951698s infinite linear;
    animation-delay: 2.5984384264355165s;
}

.l.t24 {
    left: 43.33680854175015%;
    animation: lt24 5.8560283790710255s infinite linear;
    animation-delay: 2.223512927047367s;
}

.l.t25 {
    left: 89.18035384742235%;
    animation: lt25 10.26706918677877s infinite linear;
    animation-delay: 0.49782918143559507s;
}

.l.t26 {
    left: 77.26936672948577%;
    animation: lt26 7.4335667498601365s infinite linear;
    animation-delay: 0.3394453182677004s;
}

.l.t27 {
    left: 65.19243141506628%;
    animation: lt27 7.047054238865298s infinite linear;
    animation-delay: 1.1285472923963067s;
}

.l.t28 {
    left: 32.428288794279304%;
    animation: lt28 5.350697318554307s infinite linear;
    animation-delay: 0.5817752178156606s;
}

.l.t29 {
    left: 65.89033091199292%;
    animation: lt29 6.048079151006245s infinite linear;
    animation-delay: 1.104248972978768s;
}

.l.t30 {
    left: 37.30381855590574%;
    animation: lt30 7.308662209539786s infinite linear;
    animation-delay: 2.0853455666270224s;
}

.l.t31 {
    left: 27.71696802770911%;
    animation: lt31 5.678793072719685s infinite linear;
    animation-delay: 2.7363841804893143s;
}

.l.t32 {
    left: 10.854612437902645%;
    animation: lt32 5.655910831455795s infinite linear;
    animation-delay: 1.8238032692607211s;
}

.l.t33 {
    left: 87.09524076511872%;
    animation: lt33 9.450956828200352s infinite linear;
    animation-delay: 0.8155034481122925s;
}

.l.t34 {
    left: 80.77933763500653%;
    animation: lt34 6.9494411103895555s infinite linear;
    animation-delay: 2.589425375482918s;
}

.l.t35 {
    left: 55.288498131391805%;
    animation: lt35 14.645392482982608s infinite linear;
    animation-delay: 2.726470319277591s;
}

.l.t36 {
    left: 95.89313171894007%;
    animation: lt36 7.798479024498914s infinite linear;
    animation-delay: 1.6789202358722202s;
}

.l.t37 {
    left: 33.51133601556144%;
    animation: lt37 11.967313777749862s infinite linear;
    animation-delay: 0.4346708392420211s;
}

.l.t38 {
    left: 22.52190927625124%;
    animation: lt38 12.888079683164984s infinite linear;
    animation-delay: 2.869601375320036s;
}

.l.t39 {
    left: 93.16570552495777%;
    animation: lt39 5.14243376432294s infinite linear;
    animation-delay: 2.9053473846743967s;
}

.l.t40 {
    left: 25.868019016635515%;
    animation: lt40 13.80981365370083s infinite linear;
    animation-delay: 0.27229775373660803s;
}

.l.t41 {
    left: 37.287410060394976%;
    animation: lt41 14.979045052283295s infinite linear;
    animation-delay: 0.41451806299912874s;
}

.l.t42 {
    left: 86.60036332947132%;
    animation: lt42 7.977290986357639s infinite linear;
    animation-delay: 1.8189143091898705s;
}

.l.t43 {
    left: 54.161076138251765%;
    animation: lt43 8.267742703732832s infinite linear;
    animation-delay: 0.11969154777022406s;
}

.l.t44 {
    left: 49.59156696671813%;
    animation: lt44 8.756011821783128s infinite linear;
    animation-delay: 0.4853035990089041s;
}

.l.t45 {
    left: 78.15940982406026%;
    animation: lt45 10.281711101003676s infinite linear;
    animation-delay: 1.2423019927922963s;
}

.l.t46 {
    left: 62.57146955942445%;
    animation: lt46 12.969870596051285s infinite linear;
    animation-delay: 0.7122138677179648s;
}

.l.t47 {
    left: 93.4304371445698%;
    animation: lt47 13.758625971500964s infinite linear;
    animation-delay: 1.9797753278674022s;
}

.l.t48 {
    left: 39.544143432408376%;
    animation: lt48 11.53694083250943s infinite linear;
    animation-delay: 2.8544727069783407s;
}

.l.t49 {
    left: 89.12152875747348%;
    animation: lt49 14.308989020013247s infinite linear;
    animation-delay: 0.36269727247582084s;
}

.l.t50 {
    left: 92.73945232082477%;
    animation: lt50 7.008034889534427s infinite linear;
    animation-delay: 2.647367566685804s;
}


/* animations */

@keyframes st0 {
    to {
        top: 100%;
        left: 97.1186538257348%;
    }
}

@keyframes st1 {
    to {
        top: 100%;
        left: 43.57995348537731%;
    }
}

@keyframes st2 {
    to {
        top: 100%;
        left: 9.286516941466605%;
    }
}

@keyframes st3 {
    to {
        top: 100%;
        left: 76.7404882299308%;
    }
}

@keyframes st4 {
    to {
        top: 100%;
        left: 21.1628186341019%;
    }
}

@keyframes st5 {
    to {
        top: 100%;
        left: 18.776390062853963%;
    }
}

@keyframes st6 {
    to {
        top: 100%;
        left: 51.30260611943407%;
    }
}

@keyframes st7 {
    to {
        top: 100%;
        left: 36.09273355123492%;
    }
}

@keyframes st8 {
    to {
        top: 100%;
        left: 98.2024805775858%;
    }
}

@keyframes st9 {
    to {
        top: 100%;
        left: 93.92147471379708%;
    }
}

@keyframes st10 {
    to {
        top: 100%;
        left: 43.89490463280028%;
    }
}

@keyframes st11 {
    to {
        top: 100%;
        left: 21.87046668619901%;
    }
}

@keyframes st12 {
    to {
        top: 100%;
        left: 97.84180809989012%;
    }
}

@keyframes st13 {
    to {
        top: 100%;
        left: 6.7820294222324495%;
    }
}

@keyframes st14 {
    to {
        top: 100%;
        left: 32.46019744480586%;
    }
}

@keyframes st15 {
    to {
        top: 100%;
        left: 15.993135175964678%;
    }
}

@keyframes st16 {
    to {
        top: 100%;
        left: 62.3757468665556%;
    }
}

@keyframes st17 {
    to {
        top: 100%;
        left: 1.8922412548945555%;
    }
}

@keyframes st18 {
    to {
        top: 100%;
        left: 5.295760509105363%;
    }
}

@keyframes st19 {
    to {
        top: 100%;
        left: 84.32601534465884%;
    }
}

@keyframes st20 {
    to {
        top: 100%;
        left: 26.786871196624908%;
    }
}

@keyframes st21 {
    to {
        top: 100%;
        left: 69.03562713261482%;
    }
}

@keyframes st22 {
    to {
        top: 100%;
        left: 99.12263201136065%;
    }
}

@keyframes st23 {
    to {
        top: 100%;
        left: 87.21936429829067%;
    }
}

@keyframes st24 {
    to {
        top: 100%;
        left: 62.30902360035857%;
    }
}

@keyframes st25 {
    to {
        top: 100%;
        left: 76.2453975146493%;
    }
}

@keyframes st26 {
    to {
        top: 100%;
        left: 23.724047841299132%;
    }
}

@keyframes st27 {
    to {
        top: 100%;
        left: 7.083427052142932%;
    }
}

@keyframes st28 {
    to {
        top: 100%;
        left: 98.5508540098905%;
    }
}

@keyframes st29 {
    to {
        top: 100%;
        left: 38.482028847575414%;
    }
}

@keyframes st30 {
    to {
        top: 100%;
        left: 87.94011473255325%;
    }
}

@keyframes st31 {
    to {
        top: 100%;
        left: 18.87561920774019%;
    }
}

@keyframes st32 {
    to {
        top: 100%;
        left: 98.27003678657708%;
    }
}

@keyframes st33 {
    to {
        top: 100%;
        left: 18.45661276016637%;
    }
}

@keyframes st34 {
    to {
        top: 100%;
        left: 63.08450055414394%;
    }
}

@keyframes st35 {
    to {
        top: 100%;
        left: 24.081095489459358%;
    }
}

@keyframes st36 {
    to {
        top: 100%;
        left: 2.4584722970124373%;
    }
}

@keyframes st37 {
    to {
        top: 100%;
        left: 31.665663933122403%;
    }
}

@keyframes st38 {
    to {
        top: 100%;
        left: 2.472320993398802%;
    }
}

@keyframes st39 {
    to {
        top: 100%;
        left: 86.29456216840535%;
    }
}

@keyframes st40 {
    to {
        top: 100%;
        left: 8.017299241346088%;
    }
}

@keyframes st41 {
    to {
        top: 100%;
        left: 15.722487882102222%;
    }
}

@keyframes st42 {
    to {
        top: 100%;
        left: 37.04660397181014%;
    }
}

@keyframes st43 {
    to {
        top: 100%;
        left: 73.40527535487095%;
    }
}

@keyframes st44 {
    to {
        top: 100%;
        left: 32.370158652034675%;
    }
}

@keyframes st45 {
    to {
        top: 100%;
        left: 72.82506615632431%;
    }
}

@keyframes st46 {
    to {
        top: 100%;
        left: 75.99839168806561%;
    }
}

@keyframes st47 {
    to {
        top: 100%;
        left: 12.425773180355627%;
    }
}

@keyframes st48 {
    to {
        top: 100%;
        left: 3.660724503866364%;
    }
}

@keyframes st49 {
    to {
        top: 100%;
        left: 4.878665270563043%;
    }
}

@keyframes st50 {
    to {
        top: 100%;
        left: 23.91445898006841%;
    }
}

@keyframes mt0 {
    to {
        top: 100%;
        left: 72.28304782451002%;
    }
}

@keyframes mt1 {
    to {
        top: 100%;
        left: 23.305723052566062%;
    }
}

@keyframes mt2 {
    to {
        top: 100%;
        left: 81.70202833167485%;
    }
}

@keyframes mt3 {
    to {
        top: 100%;
        left: 99.9196799706638%;
    }
}

@keyframes mt4 {
    to {
        top: 100%;
        left: 54.628093784122655%;
    }
}

@keyframes mt5 {
    to {
        top: 100%;
        left: 85.80289705237098%;
    }
}

@keyframes mt6 {
    to {
        top: 100%;
        left: 64.82062291145776%;
    }
}

@keyframes mt7 {
    to {
        top: 100%;
        left: 65.99359319783254%;
    }
}

@keyframes mt8 {
    to {
        top: 100%;
        left: 93.68609054204396%;
    }
}

@keyframes mt9 {
    to {
        top: 100%;
        left: 98.26764747106063%;
    }
}

@keyframes mt10 {
    to {
        top: 100%;
        left: 32.84011186708548%;
    }
}

@keyframes mt11 {
    to {
        top: 100%;
        left: 79.32829133177881%;
    }
}

@keyframes mt12 {
    to {
        top: 100%;
        left: 41.08579113003121%;
    }
}

@keyframes mt13 {
    to {
        top: 100%;
        left: 0.24685424741290873%;
    }
}

@keyframes mt14 {
    to {
        top: 100%;
        left: 47.83693645047313%;
    }
}

@keyframes mt15 {
    to {
        top: 100%;
        left: 71.24672889255062%;
    }
}

@keyframes mt16 {
    to {
        top: 100%;
        left: 74.26920468921982%;
    }
}

@keyframes mt17 {
    to {
        top: 100%;
        left: 75.85587252209712%;
    }
}

@keyframes mt18 {
    to {
        top: 100%;
        left: 44.050455690945476%;
    }
}

@keyframes mt19 {
    to {
        top: 100%;
        left: 96.65166463709367%;
    }
}

@keyframes mt20 {
    to {
        top: 100%;
        left: 94.78334733507805%;
    }
}

@keyframes mt21 {
    to {
        top: 100%;
        left: 96.24990167481211%;
    }
}

@keyframes mt22 {
    to {
        top: 100%;
        left: 71.96848080459557%;
    }
}

@keyframes mt23 {
    to {
        top: 100%;
        left: 66.63532130427137%;
    }
}

@keyframes mt24 {
    to {
        top: 100%;
        left: 85.43573357683012%;
    }
}

@keyframes mt25 {
    to {
        top: 100%;
        left: 13.309327615463108%;
    }
}

@keyframes mt26 {
    to {
        top: 100%;
        left: 68.74647547238322%;
    }
}

@keyframes mt27 {
    to {
        top: 100%;
        left: 74.17102083839544%;
    }
}

@keyframes mt28 {
    to {
        top: 100%;
        left: 19.6297064593691%;
    }
}

@keyframes mt29 {
    to {
        top: 100%;
        left: 9.40891018658534%;
    }
}

@keyframes mt30 {
    to {
        top: 100%;
        left: 46.586958928231304%;
    }
}

@keyframes mt31 {
    to {
        top: 100%;
        left: 50.67489067723725%;
    }
}

@keyframes mt32 {
    to {
        top: 100%;
        left: 71.43270076033497%;
    }
}

@keyframes mt33 {
    to {
        top: 100%;
        left: 62.461193302240446%;
    }
}

@keyframes mt34 {
    to {
        top: 100%;
        left: 25.508337116755598%;
    }
}

@keyframes mt35 {
    to {
        top: 100%;
        left: 43.39742295909845%;
    }
}

@keyframes mt36 {
    to {
        top: 100%;
        left: 76.19299801736712%;
    }
}

@keyframes mt37 {
    to {
        top: 100%;
        left: 60.82693597470901%;
    }
}

@keyframes mt38 {
    to {
        top: 100%;
        left: 2.8264805452959063%;
    }
}

@keyframes mt39 {
    to {
        top: 100%;
        left: 35.50185889069375%;
    }
}

@keyframes mt40 {
    to {
        top: 100%;
        left: 22.175567089828263%;
    }
}

@keyframes mt41 {
    to {
        top: 100%;
        left: 61.919677101304856%;
    }
}

@keyframes mt42 {
    to {
        top: 100%;
        left: 84.59636563604163%;
    }
}

@keyframes mt43 {
    to {
        top: 100%;
        left: 69.38133200440278%;
    }
}

@keyframes mt44 {
    to {
        top: 100%;
        left: 84.2700331805963%;
    }
}

@keyframes mt45 {
    to {
        top: 100%;
        left: 98.14871090420961%;
    }
}

@keyframes mt46 {
    to {
        top: 100%;
        left: 43.51826028755461%;
    }
}

@keyframes mt47 {
    to {
        top: 100%;
        left: 15.98094388674751%;
    }
}

@keyframes mt48 {
    to {
        top: 100%;
        left: 66.22133171322979%;
    }
}

@keyframes mt49 {
    to {
        top: 100%;
        left: 93.86829664623295%;
    }
}

@keyframes mt50 {
    to {
        top: 100%;
        left: 62.652837936056514%;
    }
}

@keyframes lt0 {
    to {
        top: 100%;
        left: 52.56620453297849%;
    }
}

@keyframes lt1 {
    to {
        top: 100%;
        left: 85.50993185821977%;
    }
}

@keyframes lt2 {
    to {
        top: 100%;
        left: 80.5610009604347%;
    }
}

@keyframes lt3 {
    to {
        top: 100%;
        left: 60.913044922255885%;
    }
}

@keyframes lt4 {
    to {
        top: 100%;
        left: 45.40357747611572%;
    }
}

@keyframes lt5 {
    to {
        top: 100%;
        left: 49.549455244509154%;
    }
}

@keyframes lt6 {
    to {
        top: 100%;
        left: 87.26354639621236%;
    }
}

@keyframes lt7 {
    to {
        top: 100%;
        left: 10.399397981151326%;
    }
}

@keyframes lt8 {
    to {
        top: 100%;
        left: 77.47218625993222%;
    }
}

@keyframes lt9 {
    to {
        top: 100%;
        left: 71.06582415993468%;
    }
}

@keyframes lt10 {
    to {
        top: 100%;
        left: 68.94559577222638%;
    }
}

@keyframes lt11 {
    to {
        top: 100%;
        left: 41.632895915443456%;
    }
}

@keyframes lt12 {
    to {
        top: 100%;
        left: 51.01446325645396%;
    }
}

@keyframes lt13 {
    to {
        top: 100%;
        left: 34.63846075474291%;
    }
}

@keyframes lt14 {
    to {
        top: 100%;
        left: 27.274222667345693%;
    }
}

@keyframes lt15 {
    to {
        top: 100%;
        left: 86.07447734563553%;
    }
}

@keyframes lt16 {
    to {
        top: 100%;
        left: 28.286788637298233%;
    }
}

@keyframes lt17 {
    to {
        top: 100%;
        left: 83.51904461096909%;
    }
}

@keyframes lt18 {
    to {
        top: 100%;
        left: 46.21783401600088%;
    }
}

@keyframes lt19 {
    to {
        top: 100%;
        left: 80.58672462709235%;
    }
}

@keyframes lt20 {
    to {
        top: 100%;
        left: 20.607299211666085%;
    }
}

@keyframes lt21 {
    to {
        top: 100%;
        left: 56.78357387981829%;
    }
}

@keyframes lt22 {
    to {
        top: 100%;
        left: 39.352688246232944%;
    }
}

@keyframes lt23 {
    to {
        top: 100%;
        left: 16.24299122321986%;
    }
}

@keyframes lt24 {
    to {
        top: 100%;
        left: 98.77830380361542%;
    }
}

@keyframes lt25 {
    to {
        top: 100%;
        left: 65.29714401750697%;
    }
}

@keyframes lt26 {
    to {
        top: 100%;
        left: 33.996415741002494%;
    }
}

@keyframes lt27 {
    to {
        top: 100%;
        left: 30.452915926276702%;
    }
}

@keyframes lt28 {
    to {
        top: 100%;
        left: 5.9457073822856366%;
    }
}

@keyframes lt29 {
    to {
        top: 100%;
        left: 39.8845093716975%;
    }
}

@keyframes lt30 {
    to {
        top: 100%;
        left: 0.6580639887617812%;
    }
}

@keyframes lt31 {
    to {
        top: 100%;
        left: 93.69463363809012%;
    }
}

@keyframes lt32 {
    to {
        top: 100%;
        left: 77.24517787790046%;
    }
}

@keyframes lt33 {
    to {
        top: 100%;
        left: 52.89181084443235%;
    }
}

@keyframes lt34 {
    to {
        top: 100%;
        left: 48.455551212053805%;
    }
}

@keyframes lt35 {
    to {
        top: 100%;
        left: 71.10602023977752%;
    }
}

@keyframes lt36 {
    to {
        top: 100%;
        left: 95.70079143118426%;
    }
}

@keyframes lt37 {
    to {
        top: 100%;
        left: 87.62317461203884%;
    }
}

@keyframes lt38 {
    to {
        top: 100%;
        left: 47.92881524707264%;
    }
}

@keyframes lt39 {
    to {
        top: 100%;
        left: 52.30901385865023%;
    }
}

@keyframes lt40 {
    to {
        top: 100%;
        left: 99.55232150414261%;
    }
}

@keyframes lt41 {
    to {
        top: 100%;
        left: 78.75403997889163%;
    }
}

@keyframes lt42 {
    to {
        top: 100%;
        left: 62.38383841508126%;
    }
}

@keyframes lt43 {
    to {
        top: 100%;
        left: 10.423973784918129%;
    }
}

@keyframes lt44 {
    to {
        top: 100%;
        left: 46.71602186484067%;
    }
}

@keyframes lt45 {
    to {
        top: 100%;
        left: 27.9229303012696%;
    }
}

@keyframes lt46 {
    to {
        top: 100%;
        left: 70.73666481187419%;
    }
}

@keyframes lt47 {
    to {
        top: 100%;
        left: 48.86531305788775%;
    }
}

@keyframes lt48 {
    to {
        top: 100%;
        left: 42.04784201751386%;
    }
}

@keyframes lt49 {
    to {
        top: 100%;
        left: 67.3730102727393%;
    }
}

@keyframes lt50 {
    to {
        top: 100%;
        left: 47.95914576880629%;
    }
}

