* {
  box-sizing: border-box;
  
}
*, *:before, *:after {
  box-sizing: inherit;
}
@font-face {
    font-family: fonto;
    src: url(futura.ttf);
}
  
body {
  margin: 0;
  height:100%;
  background: URL("blur.jpg");
  background-repeat: no-repeat;
  background-size: cover;
	background-color: #444;
  overflow: hidden;
  font-family: fonto;
}


.snow {
  position: fixed;
  border-radius: 100%;
  background: rgba(255,255,255,.5);
  top: -20px;
  z-index: 3;
}

.s {
  width: 3px;
  height: 3px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

.m {
  width: 5px;
  height: 5px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
}

.l {
  width: 9px;
  height: 9px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
  height:100vh;
  font-size: 5vh;
  margin: auto;
}

.container > div{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container > img{
  height: 100vh;
  border-left: 10px solid rgba(33,48,39,.8);
  border-right: 10px solid rgba(33,48,39,.8);
}

#enter{
  padding: 25px;
  margin: auto;
  background-color: rgba(33,48,39,.7);
  border-radius: 25px;
  z-index:100;  
  font-size: 20px;
  width: 50%;
  
}


#name, #password{
  font-size: 20px;
  width: 60%;
  position: relative;
}
#title{
  font-size: 30px;
  padding-bottom: 20px;
}
#ps{
  padding: 10px;
}

#textName{
  padding: 25px;
  margin-top: 150px;
  background-color: rgba(33,48,39,.7);
  border-radius: 25px;
  z-index:100;  
  font-size: 2vh;
  width: 50%;
}
/* .song {
max-width:400px;
position:absolute;
bottom:5px;
right:5px;
padding-right:2vw;
  
} */
